<p>
    When you want the best available, then you need the amazing DaVinci control
    surface. The control surface and software have been designed by colorists
    to work together in total harmony. Controls have been placed near your
    natural hand positions and lift, gamma and gain can all be adjusted at the
    same time. Each correction control has a separate button or knob, so you
    can instinctively reach out and touch every part of your image.
</p>

<div class="grid">
    <div class="grid__item large--one-half medium--one-half">
				<hr class="hr--small">
        <h3>
            Lift, Gamma, Gain and Offset
        </h3>
        <p>
            Trackballs provide RGB balance adjustments and gain for lift, gamma
            and gain, each with a master level control. You also have a RGB
            offset and master gain to adjust the brightness of the entire
            image.
        </p>
        <h3>
            Shadows, Tones and Highlights
        </h3>
        <p>
            With a single key you can switch your trackballs to grading
            shadows, mid tones and highlights using log controls with high and
            low range, contrast and master pivot.
        </p>
        <h3>
            Individual Camera RAW Controls
        </h3>
        <p>
            You get direct GPU de-bayer controls on the panel for exposure,
            contrast, lift, gain, color temperature, tint, highlight and
            lowlight recovery, saturation, color boost and mid tone detail.
            Adjusting camera RAW files has never been easier or faster.
        </p>
    </div>
    <div class="grid__item large--one-half medium--one-half">
        <img class="product-single__photos" src=
        "https://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveTrackBalls.jpg?3007292180502399033" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveTrackBalls_2x.jpg?3007292180502399033 2x">
    </div>
</div>

<div class="grid">
    
    <div class="grid__item large--one-half medium--one-half">
		<hr class="hr--small">
        <h3>
            High Resolution LCD Displays
        </h3>
        <p>
            5 super bright full color displays show menus and indicators for a
            massive 32 soft knobs and 30 soft keys. Menus update automatically
            to show the quickest and most direct keys to every feature so you
            never waste time searching through long menus.
        </p>
        <h3>
            Illuminated Keys
        </h3>
        <p>
            Custom backlit keys feature RGB color and intensity to suit your
            mood and taste! No other control surface looks as amazing in a
            darkened room!
        </p>
       <h3>
           Reference Keys and Fader T-bar
       </h3>
       <p>
           Colorists constantly grab and play stills to compare grades using
           the gallery. The DaVinci Resolve control panel has dedicated memory
           keys to quickly save and recall stills. You can use the fader T-bar
           to wipe between saved stills and your live grading timeline.
       </p>
    </div>
    <div class="grid__item large--one-half medium--one-half">
        <img class="product-single__photos" src=
        "https://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveTbar.jpg?3007292180502399033" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveTbar_2x.jpg?3007292180502399033 2x">
    </div>
</div>


<div class="grid">
    <div class="grid__item large--one-half medium--one-half">
<hr class="hr--small">
        <h3>
            Slide out Keyboard
        </h3>
        <p>
            Use the slide out keyboard when you need to enter clip metadata,
            name files, nodes or put notes on markers. When your finished the
            keyboard retracts into the control surface.
        </p>
        <h3>
            Transport Controls
        </h3>
        <p>
            The jog/shuttle knob and transport control keys give you full
            control of your project timeline or deck.
        </p>
        <h3>
            Soft Knobs
        </h3>
        <p>
            Each soft knob allows super fine parameter adjustment and with a
            simple push, you can set each parameter back to the default.
        </p>
    </div>
    <div class="grid__item large--one-half medium--one-half">
        <img class="product-single__photos" src=
        "https://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveDial.jpg?3007292180502399033" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveDial_2x.jpg?3007292180502399033 2x">
    </div>
</div>