<p>The Blackmagic Design DeckLink Mini Recorder is a PCIe slot capture card with both SDI and HDMI inputs for capturing uncompressed 10-bit video from a camera directly into your computer. You'll be able to ingest footage as the camera's recording live or from a playback of the camera's recording. The inputs are active, so once you plug a cable into them, they'll begin functioning. This card automatically switches between SD and HD, so it'll be able to handle all common video formats. The point of ingesting through a capture card is to bypass unnecessary compressions and hence data loss. The card performs just one compression, upon delivery to your computer, where your footage gets encoded into an edit-ready codec of your choice.</p>

<p>The Mini Monitor is a 1-lane PCI Express card and is compatible with 4, 8 and 16 lane PCI Express slots on Mac OS X, Windows 8 and Linux. The only Mac capable of accepting the card is a Mac Pro as other Macs can't be opened to enable installation. The card features two PCIe shields for both full height and low profile slots.</p>

<p></p>

<h1>Inputs</h1>
<ul>
<li>SDI 10-bit SD/HD switchable video with 16 ch HD / 8 ch SD embedded audio</li>
<li>HDMI type A video with 8 ch audio embedded in SD and HD</li>
</ul>
