<h1>The world’s lightest handheld Super 35 digital film camera!</h1>

<img class="product-single__photo" src="https://cdn.shopify.com/s/files/1/0859/1104/files/blackmagic.ursa.mini.intro.jpg?2508260669112779960" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/blackmagic.ursa.mini.intro_2x.jpg?2508260669112779960 2x" />

<p>Introducing URSA Mini, a lightweight miniaturized URSA featuring an incredible 4.6K Super 35 image sensor with global shutter and a massive 15 stops of dynamic range! The Blackmagic URSA Mini is designed to be used on feature films, television shows, commercials, indies, documentaries, music videos and more. The stunning quality of its 4.6K sensor with 15 stops of dynamic range lets you capture epic cinematic shots, while its compact size is perfect for solo shoots or smaller crews! URSA Mini shoots up to 60 frames per second, has a super bright 5 inch foldout viewfinder, dual RAW and ProRes recorders and more. You can select from four models of URSA Mini with 4.6K or 4K image sensors and either EF or PL lens mounts.</p>

<hr class="hr--small" />


<div style="background-image: url('https://cdn.shopify.com/s/files/1/0859/1104/files/ursa-design-background_2x.jpg?17488898828929777928'); background-repeat: repeat-y;background-size: 100%;">
<img class="product-single__photo" src="https://cdn.shopify.com/s/files/1/0859/1104/files/ursa-design.jpg?17488898828929777928" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/ursa-design_2x.jpg?17488898828929777928 2x" />
<div style="color: #FFF; max-width: 80%; margin: auto;">
<h1>Revolutionary URSA Design</h1>
</div>
<div style="color: #ececec; max-width: 80%; margin: auto;">
<h3>All the big camera features you need built 
into a lightweight, portable design
</div>
<div class="text-center" style="color: #ececec; padding-bottom: 1%; max-width: 80%; margin: auto;">
<p>URSA Mini features a compact, perfectly balanced body made out of advanced technology magnesium alloys so it’s rugged, lightweight and comfortable enough to be used all day. Like all URSA cameras, it includes everything you need built right in! You get a super bright 5 inch fold out 1080 HD touch screen for on-set monitoring and to change camera settings, professional connectors such as 12G-SDI, a high quality stereo microphones and a side grip with control buttons mounted on a standard rosette. The optional Blackmagic viewfinder and shoulder mount kit allow you to go from tripod to over the shoulder shooting in seconds, so you can keep up with the action!</p>
</div>

</div>



<hr class="hr--small" />
<div class="grid">
<div class="grid__item large--one-half medium--one-half">
<h3>Highly Customizable</h3>
<p>Blackmagic URSA Mini is completely customizable so you can create a rig that’s built specifically for your production! You can add accessories like the Blackmagic URSA Viewfinder and Blackmagic URSA Mini Shoulder Kit, or choose from hundreds of third party accessories. URSA Mini has 9 standard ¼” threaded mounting points on the top and bottom of the camera so you can mount it directly to a tripod as well as add accessories such as rails, sliders, matte boxes, microphones, ring lights, batteries and more. Whether you’re building a feature film rig or outfitting the camera for an ENG style shoot, URSA Mini has all of the mount points and connections you need!</p>
</div>
<div class="grid__item large--one-half medium--one-half">
<h3>Four Incredible Models</h3>
<p>URSA Mini comes in four models so you can choose from two different sensors and two different lens mounts. You can choose the 4.6K sensor with 15 stops of dynamic range in EF or PL lens mount models. If you’re on a tight budget, you can choose the more affordable 4K sensor with 12 stops of dynamic range with either EF or PL lens mount models. The PL mount works with professional cinema lenses and the EF models let you choose from an incredible selection of high quality photographic lenses from manufacturers like Zeiss, Canon, Sigma and more. Because EF lenses are used on high resolution DSLR cameras they have incredibly precise optics that can handle the high resolution of the URSA Mini 4.6K sensor.</p>
</div>
</div>


<hr class="hr--small" />

<div class="grid">
	<div class="grid__item large--one-whole medium--one-whole">

	<img class="product-single__photo" src="https://cdn.shopify.com/s/files/1/0859/1104/files/audio.jpg?1224888791203832341" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/audio_2x.jpg?1224888791203832341 2x" />
	<h3>Built in production quality sound recording</h3>
	<p>URSA Mini has the highest quality built in microphones and professional audio recording built in so you don’t have to carry around extra sound equipment. Use the built in stereo microphone to record natural location sound or connect professional microphones using the two XLR wide dynamic range mic inputs. The XLR connections have 48V of switchable phantom power so you can plug in everything from shot gun to wireless clip on mics for capturing every detail of the performance. You can quickly adjust levels using the physical knobs and monitor audio using the onscreen audio meters.</p>
	</div>
<div class="grid__item large--one-half medium--one-half">

<img class="product-single__photo" src="https://cdn.shopify.com/s/files/1/0859/1104/files/sensor.jpg?13019489225750562595" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/sensor_2x.jpg?13019489225750562595 2x" />
<h3>Cinematic 4.6K Sensor with 15 stops of dynamic range</h3>
<p>URSA Mini operates at a resolution and dynamic range that goes well beyond traditional motion picture film. You get a 4.6K image sensor that captures up to 4608 x 2592 pixels, that’s bigger than full DCI 4K! The sensor features global shutter up to 30 frames per second and rolling shutter up to 60 frames per second with 15 stops of dynamic range. Built in refrigeration cooling ensures maximum dynamic range so you get incredibly clean pictures with amazing detail in both the dark shadows and bright highlight areas of the image. You can also choose a lower cost 4K model of URSA Mini with 12 stops of dynamic range when you don’t need the performance and are on a tighter budget.
</p>
</div>
<div class="grid__item large--one-half medium--one-half">

<img class="https://cdn.shopify.com/s/files/1/0859/1104/files/non-stop.jpg?13019489225750562595" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/non-stop_2x.jpg?13019489225750562595 2x" />
<h3>Dual Recorders for Non Stop Recording</h3>
<p>Blackmagic URSA Mini features dual CFast 2.0 recorders so you never have to stop recording when you need to change the media! When the current card is full, recording continues onto the second card so you can swap out the full card and just keep shooting. URSA Mini uses the latest, incredibly fast CFast 2.0 technology for recording speeds up to 350 MB/s. You get perfect high frame rate RAW recording and instant play back on the built in 5 inch screen. Files can be saved as lossless 12-bit CinemaDNG RAW for the highest possible quality, or as ProRes for easy post production workflows with minimum storage requirements!</p>
</div>

</div>


<hr class="hr--small" />
<h1>Shot with the new Blackmagic URSA 4.6K</h1>
<iframe src="https://player.vimeo.com/video/127523814" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>



<hr class="hr--small" />
<div class="grid">
<div class="grid__item large--one-third medium--one-half">
<h3>Professional Connections</h3>
<p>Blackmagic URSA Mini features multiple connections such as 12G-SDI out, HD-SDI monitoring out, 2 LANC inputs, balanced XLR audio with phantom power, timecode in and reference input. On the front right side of the camera the 4 pin XLR DC and HD-SDI monitoring output are located in the perfect position for connecting to an optional viewfinder or on set monitor. The 12G-SDI output handles up to 2160p60 using a single BNC cable and also switches to 6G-SDI or HD-SDI depending on the shooting format.</p>
</div>
<div class="grid__item large--one-third medium--one-half">
<h3>Flexable Power</h3>
<p>URSA Mini includes a 4-pin XLR industry standard power connector that works with 12V to 30V external power supplies. The URSA Mini uses the same battery power connector and mounting points on the rear of the camera as used on URSA so you can use the same range of battery plates from a wide range of manufacturers such as IDX, Frezzi, Anton Bauer and more. You can also add the optional Blackmagic URSA VLock Battery Plate for using popular V-Mount batteries.</p>
</div>
<div class="grid__item large--one-third medium--one-whole">
<h3>Optional Sholder Mount</h3>
<p>URSA Mini includes multiple ¼” mount points on the bottom so you can attach it directly to any tripod. The optional Blackmagic URSA Mini Shoulder Kit includes the shoulder pad with built in rosettes, rail mounts and integrated quick lock release attachment points so you can instantly latch it into the quick release plate without needing to remove the shoulder pad.</p>
</div>
</div>