<h1>Move to Digital Film</h1>
<p>Blackmagic Cinema Camera features a high resolution sensor with wide dynamic range so it’s perfect for independent film, television commercials and episodic television production. DaVinci Resolve software for Mac™ and Windows™ is included so you can work at the highest quality and get the best results. Blackmagic Cinema Camera is both affordable and a complete solution because it includes a built-in recorder and monitoring, so it’s perfect for displacing video-only cameras for work such as sporting events, weddings, music videos and more!</p>
<hr class="hr--small" />
<h1>EF and Passive MFT Mount Availible</h1>
<p>Now the Blackmagic Cinema Camera comes in two models, depending on the lens mount you want so you can use the most amazing optics from the world’s leading lens crafters. The original EF compatible mount model lets you use Canon and Zeiss lenses with full electronic control of your lens iris and more. The new Passive Micro Four Thirds (MFT) gives you compatibility with a wide range of manually operated lenses, while also being easily adapted to other mounts such as PL mount via third party adapters. With Blackmagic Cinema Camera you are not locked into any specific lens and you can choose the lens you need based on the creative style of your shot!</p>
<hr class="hr--small" />
<h1>13 Stops of Dynamic Range</h1>
<h3>Capture the world in RAW and get all the range of the image</h3>
<p>Regular video cameras clip video so you are locked into images that look cheap. Blackmagic Cinema Camera eliminates this problem as it captures a super wide dynamic range of 13 stops into 12-bit DNG files, so your images look truly cinematic. This preserves detail in both shadows and highlights, and even handles indoor shots while keeping the details of any images captured through windows. This means you keep all sensor data so you can make creative decisions during DaVinci Resolve color grading!</p>

<p>The Blackmagic Cinema Camera lets you shoot in either Film or Video mode to suit your needs. In Film mode the full dynamic range from the camera’s image sensor is recorded, so that with color correction you have the maximum information in the highlights and shadows of the images. When you shoot in Video mode the camera processes the images within the Rec709 color space that is a standard for HDTV. Video mode is perfect in situations where you need to deliver a project quickly that does not require color correction.</p>
<hr class="hr--small" />
<h1>Elegant Design</h1>
<p>Cinematographers form a personal relationship with their camera for a creative partnership that can last years and span every location on the planet! Starting with a chassis machined from solid aluminum, capped with a smooth rubber front and rear for easy grip, plus a rear facing touchscreen for easy metadata entry, you get a stylish design that’s optimized for the whole post production workflow. Blackmagic Cinema Camera includes standard jack audio so there are no custom connectors!</p>
<hr class="hr--small" />
<h1>Premium Quality</h1>
<p>Building one of the finest cameras in the world requires attention to every detail. Blackmagic Cinema Camera’s premium quality design features a machined aluminum chassis, interchangeable optics, high resolution 2.5K sensor, 13 stops of dynamic range and 12-bit RAW uncompressed and compressed file formats! Every aspect of the image path has been totally optimized for quality, so this means you always get the quality you need for the most demanding work.</p>
<hr class="hr--small" />
<h1>Advanced Features</h1>

<h3>Captive Touchscreen</h3>
<p>The 5″ touchscreen lets you see your shot, as well as play back from the SSD using the transport control buttons below the screen. Enter shot data and update the camera's settings using the capacitive touchscreen display, just like a smartphone! Double tap to zoom the image for fast and accurate focus. To keep you updated, the data strip displays information including record status, shutter angle, ISO, battery level, record time and more.</p>

<h3>Metadata Entry</h3>
<p>Logging file metadata directly into the camera dramatically speeds up the post production process. With the Blackmagic Cinema Camera 'slate' you can enter information such as shot number, search tags, scene number, timecode and more! You can even set shot number and other data to increment automatically! Metadata is compatible with leading editing software and is fully searchable so when you're editing your project you can avoid the time consuming task of searching for specific shots!</p>

<h3>Open File Format</h3>
<p>Blackmagic Cinema Camera uses standard file formats, so you don’t need to wait years for your video software to support the media! Recording native 2.5K resolution uses the open CinemaDNG format, so you get full 12-bit RAW recording quality using the built-in SSD recorder, and the benefit of industry wide compatibility. For even greater compatibility you can also choose 1080HD recording into ProRes and DNxHD compressed video formats. Blackmagic Cinema Camera is the only camera to support purely open file formats!</p>
<hr class="hr--small" />
<h1>Standard Connections</h1>
<h3>Professional Audio Recording</h3>
<p>The Blackmagic Cinema Camera includes analog audio connections using 1/4” jacks. By including analog audio connections you can use external directional and ambient microphones for effects and commentary to suit your audio requirements. All audio is written to the ProRes file, so is fully synchronized with your footage.</p>

<h3>Remote Control</h3>
<p>The LANC protocol is a standard method for the remote control of professional cameras. Blackmagic Cinema Camera features a standard 2.5mm jack for connecting to a remote that lets you trigger the camera to start and stop recording, plus it supports electronic lens control of the focus and iris (EF Mount Only), all using an industry standard protocol and jack connection.</p>

<h3>Blazing Fast Thunderbolt™</h3>
<p>Advanced Thunderbolt technology provides an incredibly fast 10 Gb/s computer connection so you can capture the camera’s output. You can also use the Thunderbolt video output with the included Blackmagic UltraScope software and get technically accurate waveform monitoring, even when using a laptop on set.</p>

<h3>3G-SDI Monitoring</h3>
<p>3 Gb/s SDI out for on set monitoring or for sending to live production switchers</p>