<p>The Smart Videohub 12 x 12 6G-SDI from Blackmagic Design is a mixed format router with 12 6G-SDI inputs and 12 6G-SDI outputs for routing any combination of SD, HD, Ultra HD 4K, and DCI 4K video. It supports 4:2:2 and 4:4:4 color sampling and 10-bit processing for smoother gradations. Housed in a 1RU frame, the Smart Videohub ideal for use in both large broadcast systems or portable mini racks for live productions. A built-in LCD lets view your sources directly on the router itself, with simple push buttons and spin knob provided for control. Routing can also be controlled using dedicated remote panels or over Ethernet using the included software for Mac OS X and Windows. You can even use the available iPad app to change routing over your wireless network.
</p>


<h1>Key Features</h1>
<ul>
<li>12x 6G-SDI inputs / 12x 6G-SDI outputs</li>
<li>Auto-detects between SD, HD, Ultra HD 4K, and DCI 4K and instantly switches standards</li>
<li>Built-in SDI reclocking on every SDI input</li>
<li>Supports 8-bit, 10-bit, and 12-bit 4:2:2 and 4:4:4 signals</li>
<li>4:2:2 or 4:4:4 color sampling with 10-bit processing</li>
<li>UHD 4K (3840 x 2160) up to 30p</li>
<li>Supports DCI 4K (4096 x 2160) at 24p</li>
<li>HD Video Resolutions up to 1080p60</li>
<li>Supports 16 channels of embedded audio on each SDI signal</li>
<li>Reference input compatible with black burst and tri-sync</li>
<li>Built-in video monitoring and spin knob control</li>
<li>Push buttons on front panel</li>
<li>On-screen labels support Unicode so they work in non-Roman character sets such as Chinese, Japanese, Korean, Russian, German, French, Spanish, and more</li>
<li>Videohub control software included for control over Ethernet</li>
<li>Ethernet control allows direct connection to the computer network and is compatible with Videohub Smart Control and Videohub Master Control panels</li>
<li>Apple iPad control panel app available</li>
<li>Create your own custom router control with free software developer kit</li>
<li>Machined aluminum 1RU chassis</li>
<li><strong>Note:</strong> IEC power cable is not included.</li>
<li></li>		
</ul>
