<p>The Blackmagic Design HyperDeck Studio Pro is a file-based deck that features the same functionality and control of professional tape decks. It records uncompressed video with 4:2:2 color sampling at 10-bit in .mov format, and also records video using either ProRes or DNxHD codecs. With two SSD slots, you can record almost endlessly as one SSD becomes full, recording automatically continues on to the other. The Studio Pro features one 6G-SDI input & output for 4K signals, and three SD/HD/3G-SDI inputs & outputs. It supports Ultra HD 4K via HDMI. It also features analog component in & out, with analog audio in & out, and timecode in & out.</p>

<p>The Studio Pro is a 1RU rack mountable unit, with built-in rack mount ears. It features illuminated front panel button control and a jog/shuttle wheel for analog scrubbing. RS-422 control is supported for external control. You can also control the unit using either the USB port or over ethernet via the RJ45 connector. An integrated LCD on the front panel allows you to monitor the video, and display timecode and transport information. The unit also incorporates a Thunderbolt port, for connecting the HyperDeck Studio Pro 2 to a computer.</p>

<h1>Key Features</h1>
<p><strong>File-Based Recording - </strong>The HypeDeck Studio Pro records to uncompressed Quicktime at 10-bit with 4:2:2 color sampling. It also records to ProRes 422(HQ), ProRes 422, ProRes 422 (LT), ProRes 422 (Proxy), as well as Avid DNxHD and Avid DNxHD MXF.</p>
<p><strong>Two SSD Bays - </strong>The unit incorporates two 2.5" SSD slots that allow you to record almost endlessly as recording seamlessly switches from one SSD to the other as the first one fills up.
</p>
<p><strong>Video Signals - </strong>The HyperDeck Studio Pro supports SD, HD, and 3G signals over SDI and HDMI. In addition to NTSC and PAL signals, 720 x 480p and 720 x 576p signals are supported over HDMI, while 4K video is supported via 6G-SDI and HDMI.</p>
<p><strong>VTR Style Controls - </strong>The HyperDeck Studio Pro features VTR style front panel controls for record and playback. With illuminated buttons, for working in dim locations or settings, while a built-in jog/shuttle wheel provides analog style control over your playback.</p>
<p><strong>Outputs - </strong>All outputs are active at all times, so play back is available from all outputs simultaneously, no matter what the original input. This applies to playback from a computer or the SSDs. The exceptions are that 4K output is only available over the 6G-SDI and HDMI connectors, while 480p & 576p are only available as HDMI output.</p>
<p><strong>Remote - </strong>The unit is controllable via RS-422 control and over the Ethernet or USB port.</p>
<p><strong>Built-In LCD Monitor - </strong>The unit's front panel also features a built-in LCD screen that allows you to monitor input or playback video as well as timecode, format, and audio levels.</p>

