<p>The Blackmagic Design DeckLink 4K Extreme 12G is an 8-lane PCIe Gen2 digital cinema capture and playback card with two multi-rate 12G-SDI inputs and outputs that accept resolutions from SD up to DCI 4K (4096x2160) at 60 fps. The card supports 10-bit YUV and 8-, 10-, and 12-bit RGB color, as well as up/down/cross conversions and 3D stereoscopic output at full bandwidth 4:4:4:4 RGB. The DeckLink 4K Extreme 12G features a mezzanine card design that has 4K HDMI input and output connectors on a second daughter card, along with connections for adding two optional optical fiber modules for Dual Link optical fiber SDI input and output. The card also supports AES/EBU balanced XLR and unbalanced RCA inputs/outputs, analog video I/O, reference input, and RS-422 control via an included breakout cable.</p>

<h1>Flexible Format Support</h1>	
<p>The card offers flexible format and system support, letting you work with compressed video formats such as ProRes and DNxHD, as well as 12-bit 4:4:4 uncompressed video. When working with uncompressed video, all images are pixel-for-pixel identical to the source, without any generational loss. This lets you get sharper keying with green screens, cleaner compositions, superior color correction, and more. Support for common file formats provides ready-to-edit files for use in popular editing, effects, and design software applications. DeckLink Studio 4K is compatible with Mac, Windows, and Linux based workstations.</p>

<h1>Optical Fiber Connections</h1>
<p>Two optical fiber connections on the daughter card support optional optical fiber modules for Dual Link optical fiber SDI input and output. SMPTE compatible optical modules can be added for up to 12G-SDI speeds, allowing you to choose to connect equipment using optical fiber connections instead of regular BNC copper cables for much longer cable runs, even at 12 Gb/s speeds.</p>

<h1>Key Features</h1>
<ul>
<li>8-Lane PCIe Gen2 I/O card compatible with Mac, Windows, and Linux based workstations and servers</li>
<li>Multi-rate 12G-SDI and HDMI connections accept SD, HD, 2K, and 4K resolutions</li>
<li>Supports UHD 4K (3840x2160) and DCI 4K (4096x2160) up to 60 fps</li>
<li>Single and dual link 4:4:4:4/4:2:2 signals</li>
<li>3D stereoscopic SDI output at full bandwidth 4:4:4:4</li1>
<li>Up/down/cross conversions</li1>
<li>4 channels of balanced analog audio I/O, 2 channels of AES/EBU balanced audio I/O, genlock/tri-sync input, and Sony RS-422 deck control port via included breakout cable</li1>
<li>Optional optical fiber modules for Dual Link optical fiber SDI input and output</li1>
<li>Breakout cable adds S-Video, composite and component in/out and RS-422 control connectors</li>
<li>SD card with Media Express capture and playback software, and developer SDK for Windows, Mac, and Linux</li>	
</ul>
