<p>	
The DaVinci Resolve Micro Panel is a high quality, portable low profile panel that features three high resolution trackballs and 12 precision machined control knobs for accessing all essential primary color correction tools. Above the center trackball are keys for switching between log and offset color correction, as well as a key to display DaVinci Resolve’s full screen viewer, which is great for use with laptops. Eighteen dedicated keys on the right side also give you access to the most commonly used grading features and playback controls. DaVinci Resolve Micro Panel is perfect for independent editors and colorists that need a truly portable solution.
</p>

<div class="grid">
    <div class="grid__item large--one-half medium--one-half">
				<hr class="hr--small">
        <h3>
            Lift, Gamma, Gain and Offset
        </h3>
        <p>
            Trackballs provide RGB balance adjustments and gain for lift, gamma
            and gain, each with a master level control. You also have a RGB
            offset and master gain to adjust the brightness of the entire
            image.
        </p>
        <h3>
            Shadows, Tones and Highlights
        </h3>
        <p>
            With a single key you can switch your trackballs to grading
            shadows, mid tones and highlights using log controls with high and
            low range, contrast and master pivot.
        </p>
        <h3>
            Flexible Power Options
        </h3>
        <p>
            The DaVinci Resolve Micro Panel is fully powered via USB so you can simply plug and play to get up and running. Power over USB means you can use it with a laptop and it will operate from the laptop’s battery, making it ideal for on set grading.
        </p>
    </div>
    <div class="grid__item large--one-half medium--one-half">
        <img class="product-single__photos" src=
        "hhttps://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveMicroTrackBalls.jpg?16760277498226078881" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveMicroTrackBalls_2x.jpg?16760277498226078881 2x">
    </div>
</div>

<div class="grid">
    
    <div class="grid__item large--one-half medium--one-half">
		<hr class="hr--small">
        <h3>
            Still Store Reference Management
        </h3>
        <p>
            Colorists constantly grab and play stills to compare grades using the gallery. The DaVinci Resolve Micro panel has dedicated keys to quickly save and recall stills
        </p>
        <h3>
			Transport Controls
        </h3>
        <p>
            The play forward, reverse and stop transport keys on all the panels give you full control of your project timeline or deck.
        </p>
       
    </div>
    <div class="grid__item large--one-half medium--one-half">
        <img class="product-single__photos" src=
        "https://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveMicro-Soft-Knobs.jpg?12710935989444316431" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/DaVinciResolveMicro-Soft-Knobs_2x.jpg?12710935989444316431 2x">
    </div>
</div>

