<p>Add professional monitoring and high-quality recording to virtually any camera with the Blackmagic Video Assist. It features a 5" 1920 x 1080 display to help you frame and focus your shots, and provides 6G-SDI and HDMI inputs for recording the video output from professional and consumer cameras. The Video Assist records 10-bit 4:2:2 video up to 1080p60 to high-speed U1 SDHC/XC memory cards using industry-standard Apple ProRes (HQ, 422, LT, or Proxy) or Avid DNxHD codecs. A touchscreen interface allows you to adjust settings and access monitoring features such as histogram, audio meters, timecode display, and more. To power the monitor, a 110-240V AC power adapter is included. It also has dual battery slots on the rear that you power the monitor using Canon LP-E6 type batteries.</p>

<h1>Key Features</h1>
<p><strong>5" Full HD Display - </strong>The front of the monitor features a bright 5" 1920 x 1080 display for evaluating your shots. On-screen controls allow you to vary the brightness and contrast depending on the shooting situation, and the wide 135° viewing angle makes it easy for multiple crew members to watch at the same time. It even auto rotates so no matter which way you mount it, the picture is always displayed correctly.</p>

<p><strong>Touchscreen Interface - </strong>The 5" display provides intuitive capacitive touchscreen controls. Swipe gestures make it simple and quick to show or hide settings, such as capture resolution and format, as well as screen brightness and contrast. Swipe in another direction and you'll have access to additional controls, recording status, histogram, audio level, timecode, battery status, and more. The controls have a semi-transparent overlay, so you can still be able to keep an eye on every part of your shots.
</p>
<p><strong>6G-SDI and HDMI Connections - </strong>Video and audio are captured using 6G-SDI and HDMI 1.4 inputs, allowing you to record from professional cameras and camcorders, as well as popular DSLRs and mirrorless cameras. The 6G-SDI input even allows you to monitor Ultra HD footage. Loop-through outputs are provided so you can simultaneously display the live video or recorded clips on larger screens like HD broadcast monitors or HDMI projectors while you monitor and record on the Video Assist. Audio is embedded in the output and can also be monitored on headphones using the 3.5mm stereo jack.
</p>
<p><strong>10-Bit 4:2:2 ProRes and DNxHD Recording - </strong>The Blackmagic Video Assist records your video at the 10-bit 4:2:2 quality. Files are recorded on to high-speed U1 SD cards, with ProRes (HQ, 422, LT, Proxy) or DNxHD codecs available. These are industry-standard formats, so you can start editing immediately without having to convert the files. Recording can be automatically triggered on your Blackmagic Video Assist from the start/stop button on compatible cameras, so you can remain focused on getting the shot without having to worry about operating additional gear.</p>
<p><strong>Power - </strong>A universal 110V to 240V AC power supply so you can use the Video Assist anywhere. Plug the AC adapter into the 12V DC input you get continuous power, or run off of dual Canon compatible LP-E6 type batteries. Intelligent battery management will use the battery with less charge first, then immediately switch to the other battery without interrupting recording. When connected to AC power, the batteries can be charged in parallel while the Video Assist is still being used.</p>

<h1>Additional Features</h1>
<ul>
<li>Can control settings on Blackmagic Micro Cinema Camera</li>
<li>Machined aluminum housing</li>
<li>Built-in kickstand</li>
<li>Six 1/4"-20 threaded mounting holes (three on top, three on bottom)</li>
</ul>
