<h1>The world’s smallest digital film camera with innovative remote control!</h1>
<p>Introducing the Blackmagic Micro Cinema Camera, a miniaturized Super 16mm, professional digital film camera that is designed to be operated remotely and capture action anywhere! A revolutionary built in expansion port has PWM and S.Bus inputs so you can use a model airplane remote control to operate the camera wirelessly. Imagine adjusting focus, iris andwirelessly! The Micro Cinema Camera is a true digital film camera that features built in RAW and ProRes recording, 13 stops of dynamic range, a global shutter and an MFT lens mount. You get a true digital film camera that can go where no other digital film camera can!</p>
<p style="margin-bottom: 10px;"><img class="product-single__photo" src="https://cdn.shopify.com/s/files/1/0859/1104/files/micro.cinema.camera.intro.jpg?12958561228454816529" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/micro.cinema.camera.intro_2x.jpg?3179566286642625057 2x" /></p>
<hr class="hr--small" />
<h1>Get Incredible Action Shots</h1>
<img class="product-single__photo" src="https://cdn.shopify.com/s/files/1/0859/1104/files/micro.cinema.camera.incredible.jpg?3695539294446405578" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/micro.cinema.camera.incredible_2x.jpg?3179566286642625057 2x" />
<h2>The digital film camera for action camera shots</h2>
<p>The Blackmagic Micro Cinema Camera is an impossibly small true, professional quality digital film camera that’s perfect for use on quadcopters, as a crash cam, or even hidden on set for reality TV. You can mount it anywhere such as on a skate board or hang glider for spectacular extreme sports shots, to a drone to record panoramic fly overs, or even wear it on a helmet for the most amazing point of view shots! The Blackmagic Micro Cinema Camera will make your audience say “Wow! How did they get that shot?”</p>
<hr class="hr--medium" />
<h1>Extremely Customizable Design</h1>
<p>The design of the Blackmagic Micro Cinema Camera combines advanced miniaturization and a unique expansion port in a digital film camera that lets you create personalized rigs for remote operation and monitoring. The camera body is not much larger than the Micro Four Thirds lens mount making it as small as a camera with a professional lens can be. Its core is made out of a lightweight and strong magnesium alloy that makes it durable enough to shoot anywhere, from the ocean floor to the stratosphere or beyond! You can control the Micro Cinema Camera directly from the front buttons when it’s mounted, or remotely when it’s out of reach.</p>
<hr class="hr--small" />
<div class="grid">
<div class="grid__item large--one-third medium--one-half">
<h3>Remote Management</h3>
<p>When you’re mounting the camera on quadcopters, using it as a crash cam or placing it in dangerous locations, you can operate the camera remotely, view a live feed and monitor status, all from a safe distance. The expansion port can be connected to radio control airplane receivers and various camera functions can be mapped to radio channels so you can remotely start and stop recording, adjust focus, change the iris and more! The expansion port also has a composite video output that can be connected to low cost wireless video transmitters for remote monitoring of the camera’s recording status, battery life and audio levels.</p>
</div>
<div class="grid__item large--one-third medium--one-half">
<h3>Expansion Port</h3>
<p>The revolutionary expansion port lets you create custom remote control, external power and monitoring solutions. The included breakout cable gives you access to many of the camera’s unique functions, but you can also create your own custom cables that open the camera up to do even more. In addition to things like LANC, power, video out, and genlock, you also get 4 analog PWM radio remote control inputs so you can map camera functions to the dials, knobs, buttons and joysticks on model airplane remotes! For even more control with greater precision, you can use the 18 channel S.Bus control input with Futaba radio control equipment or custom embedded controllers.</p>
</div>
<div class="grid__item large--one-third medium--one-whole">
<h3>Remote Monitoring</h3>
<p>The expansion port includes NTSC and PAL composite video output that can be connected to low cost wireless video transmitters for remote monitoring. That means you can see exactly what the camera is recording whether the camera is in the air or hidden on set. For higher quality monitoring, the Micro Cinema Camera also has an HDMI output for wireless HD video transmitters. Both the composite and HDMI outputs can display overlays for camera status, lens settings, file formats, histogram, audio meters, battery life and more!</p>
</div>
</div>
<hr class="hr--small" />
<h1>Wide dynamic range and global shutter!</h1>
<p>The Super 16 sensor is full 1080 HD resolution and has an incredible 13 stops of dynamic range and global shutter up to 30 frames per second. Most DSLR and action cameras use a rolling shutter that exposes different parts of the image in fractions of a second, causing video to appear skewed or wobbly when the camera moves or vibrates. The Blackmagic Micro Cinema Camera’s global shutter acts more like a still camera, exposing the entire image at the same time so you get distortion and ripple free video! With an ISO up to 1600, the Blackmagic Micro Cinema Camera also gives you great quality, even in locations with low lighting.</p>
<hr class="hr--small" />
<h1>Built in RAW and ProRes Recorder</h1>
<p>The built in recorder captures true 12-bit log digital film quality images without the artifacts you get on heavily compressed 8-bit H.264 files used on small consumer action and DSLR cameras. Files can be saved in either Cinema DNG RAW or ProRes. Cinema DNG RAW files are 12-bit log and give you all of the data from the camera’s sensor, so you have the latitude to change things like white balance and exposure long after the camera stops rolling. If you need smaller file sizes and longer recording times, you can use ProRes to get broadcast quality images. Both formats can be easily edited and color corrected with the included DaVinci Resolve Lite for Mac and Windows.</p>
<hr class="hr--small" />
<div class="grid">
<div class="grid__item large--one-third medium--one-half">
<h3>Interchangeable Lenses</h3>
<p>The Blackmagic Micro Cinema Camera features an active Micro Four Thirds lens mount so you can use high performance photographic lenses including wide angle, primes, standard zooms, telephotos and more. That means you’re not stuck with a built in lens and can choose the best lens for the job! The focus, iris and zoom on active MFT lenses can be controlled remotely from the camera’s expansion port. Many MFT lenses also have built in optical image stabilization, making them perfect for use in places where there might be a lot of movement, shocks or vibration.</p>
</div>
<div class="grid__item large--one-third medium--one-half">
<h3>Expandable Connections</h3>
<p>The right side of the Micro Cinema Camera includes a full size HDMI connector for monitoring video output with overlays and embedded audio, along with the expansion port which uses a standard DB-HD15 connector. The expansion port can be used with the included breakout cable or with a custom cable of your own design to give you additional monitoring, control and power options. The left side of the camera houses the SD card slot for recording and also has a high quality 3.5mm stereo input for connecting mic or line level devices.</p>
</div>
<div class="grid__item large--one-third medium--one-whole">
<h3>Easy Camera Settings</h3>
<p>You can quickly adjust camera settings using the row of buttons located on the front of the camera. Because they’re on the front, the buttons are always accessible, whether the camera is strapped to your body or mounted in tight locations. Camera settings are displayed on screen using the HDMI or composite video output. You also get power, record, stop, fast forward and rewind buttons, along with an LED light on top that shows recording status and has memory card and low battery warning indicators.</p>
</div>
</div>
<div class="grid">
<div class="grid__item large--one-third medium--one-half">
<h3>Professional Sound</h3>
<p>Engineered for high quality audio recording, the built in high quality stereo microphone is omni-directional and features a mechanical design to help reduce unwanted wind noise so you get a clear recording. There’s also a built in 3.5mm input connector so you can plug in directional or wireless clip on microphones. The 3.5mm input jack supports both mic or line level devices and automatically disables the internal mic when an external one is connected. The Blackmagic Micro Cinema Camera gives you the flexibility to choose the right microphone or audio source for your production!</p>
</div>
<div class="grid__item large--one-third medium--one-half">
<h3>Battery or External Power</h3>
<p>For remote recording, you can attach any readily available LP-E6 battery to the back of the camera and place it in all sorts of locations. The battery level is shown in an overlay when the camera is connected to an HDMI display or on the PAL/NTSC video output so you can monitor battery levels even when the camera is operated remotely. There is also an LED on the camera to indicate low battery condition as well as record status. The included breakout cable has a 12V DC input jack so you can use external power supplies or even rig up your own long lasting custom power sources!</p>
</div>
<div class="grid__item large--one-third medium--one-whole">
<h3>Add Popular Accessories</h3>
<p>The Blackmagic Micro Cinema Camera is compatible with a virtually unlimited number of accessories ranging from interchangeable MFT lenses and lens mount adapters, to quadcopters, battery chargers and more. Two ¼” mounting points on the top and bottom of the camera let you securely rig the camera anywhere and then use wireless HDMI or composite video transmitters for remote monitoring. You can even control the camera using wired LANC accessories or go completely wireless with PWM or S.Bus radio remote control transmitters and receivers or roll your own custom control solution using embedded computers such as Raspberry Pi or BASIC Stamp!</p>
</div>
</div>