
<p>Teranex is the world renowned standards convertor with incredible virtually transparent quality! Broadcast masters are converted with full quality allowing worldwide distribution. Teranex is perfect for live production and, with the built-in Thunderbolt™ port, can also be used for cleaning and converting content for authoring as well as video capture and playback for editing, design and effects! Teranex is the perfect video converter, standards converter and capture and playback tool all in one!</p>

<p>Teranex simply provides more conversion than any other solution. It includes extremely high quality de-interlacing, up conversion, down conversion, SD and HD cross/standards conversion, automatic cadence detection and removal even with edited content, noise reduction, adjustable scaling and aspect ratio conversion. All with full timecode and multi-channel audio conversion. Also includes 3D dual channel conversion, patent pending 3D simulation and 3D camera rig alignment!</p>

<h1>Highest Quality Connections</h1>
<h3>Connect to virtually any video device</h3>

<p>When working in high end formats such as 4:4:4 and 3D, the Teranex 3D Processor includes dual SD/HD and 3 Gb/s SDI input and output for dual link 4:4:4 as well as single link 3 Gb/s SDI 4:4:4. The dual channels also allow true full resolution left and right eye 3D processing where both eyes are converted at the same time in perfect sync! When running true full resolution dual stream 3D, the HDMI connection and Thunderbolt capture and playback support dual stream 3D via the single cable.</p>

<p>Video includes a lot more than images, and Teranex also supports conversion of up to 16 audio channels plus timecode and closed caption VANC data. This means timecode matches during conversion to the 0 frames, and subtitles are retained!</p>
</div>

<h1>Advanced Processing</h1>

<div class="grid">
<!-- Left Side Column -->
<div class="grid__item large--one-third medium--one-half">
<h3 style="height:40px">High Quality De-interlace</h3>
<p>Teranex quality starts with one of the world’s highest quality and most precise de-interlacers. Teranex features proprietary and patented PixelMotion de-interlacing algorithms so you get improved image quality by maintaining vertical resolution.</p>
</div>
<!-- Right Side Colum -->
<div class="grid__item large--one-third medium--one-half">
<h3 style="height:40px">Up Conversion</h3>
<p>When converting from NTSC or PAL SD up to 720HD or 1080HD, Teranex is perfect because it features a wide range of aspect ratio options and multi-direction diagonal filters so “jaggies” are eliminated and you get clean HD looking images!</p>
</div>
<!-- Right Side Colum -->
<div class="grid__item large--one-third medium--one-whole">
<h3 style="height:40px">Down Conversion</h3>
<p>Teranex down conversion allows amazing SD feeds from your HD sources. 1080HD and 720HD video sources, combined with the de-interlace, and multi-direction diagonal filters, give you great SD images with a range of aspect choices.</p>
</div>
</div>

<div class="grid">
<!-- Left Side Column -->
<div class="grid__item large--one-third medium--one-half">
<h3 style="height:40px">Noise Reduction</h3>
<p>Remove unwanted noise from transmission links, videotape, or even camera sources. Teranex includes award winning temporal recursive noise reduction. Reducing noise allows more efficient video compression when authoring content!</p>
</div>
<!-- Center Column -->
<div class="grid__item large--one-third medium--one-half">
	<h3 style="height:40px">Adjustable Scaling</h3>
<p>For times when you need to adjust images with complete freedom, Teranex includes fully adjustable scaling. Use adjustable scaling when you need to set custom aspect ratios, or even for reframing shots to remove image edge artifacts.</p>
</div>
<!-- Right Side Colum -->
<div class="grid__item large--one-third medium--one-whole">
	<h3 style="height:40px">Aspect Ratio Conversion</h3>
<p>Teranex supports a wide range of aspect ratios, including variable and fixed aspect ratios as well as active fill. Also included is the proprietary Smart aspect that warps images from 4:3 to 16:9 without visible stretching of the image that normally occurs.</p>
</div>
</div>

<div class="grid">
<!-- Left Side Column -->
<div class="grid__item large--one-third medium--one-half">
<h3 style="height:40px">SD/HD Cross Conversion</h3>
<p>Often work is completed in the native film frame rate of 23.98 or 24 fps and then broadcast in 25 or 29.97 fps. Teranex converts between frame rates such as these, adding and removing cadence as required. Move between video and film worlds with ease!</p>
</div>
<!-- Center Column -->
<div class="grid__item large--one-third medium--one-half">
<h3 style="height:40px">SD/HD Standards Conversion</h3>
<p>Linear standards conversion is easy with the powerful SIMD processor which can analyze and calculate pixels between frames as easily as anywhere in the frame! This is why Teranex performs the world’s best linear standards conversion available!</p>
</div>
<!-- Right Side Colum -->
<div class="grid__item large--one-third medium--one-whole">
<h3 style="height:40px">Cadence Detect and Remove</h3>
<p>Teranex is unique because it can automatically remove cadence (3:2 pulldown) from video when converting 24 fps, even when the footage has been previously edited and suffers from flash fields. That’s perfect for mastering clean online content!</p>
</div>
</div>


<h1>Advanced 3D Processing and Tools</h1>
<h3>Dual Channel 3D and 4:4:4</h3>

<p>When working in high end formats such as 4:4:4 and 3D, the Teranex 3D model includes dual SD/HD and 3 Gb/s SDI input and output for dual link 4:4:4 as well as single link 3 Gb/s SDI 4:4:4. The dual channels also allow true full resolution left and right eye 3D processing where both eyes are converted at the same time in perfect sync! When running true full resolution dual stream 3D, the HDMI connection and Thunderbolt capture and playback support dual stream 3D via the single cable.</p>

<p>The Teranex 3D Processor includes powerful 3D processing that allows you to move to 3D without breaking the bank! You get full resolution dual stream 3D format and frame-rate conversions plus decoding and encoding of 3D streams. The new patent pending Teranex 3D simulator automatically generates incredible 3D signals from 2D sources! Also included is frame warping and alignment for 3D camera rigs to get perfect 3D live! You can even use two consumer cameras for true 3D!</p>

<h3>3D Processing</h3>
<p>The Teranex 3D Processor includes dual SDI channels so it allows all video conversion to be locked together perfectly between channels. Only Teranex lets you process both left and right eyes in full resolution and in absolute sync!</p>

<h3>3D Conversions</h3>
<p>With so many types of 3D formats available, it’s vital to be able to convert between them quickly and easily. The Teranex 3D model lets you convert using dual stream full resolution, side by side, and top and bottom 3D formats with ease!</p>

<h3>3D Simulation</h3>
<p>Take 2D feeds into a 3D live production, or convert 2D content into 3D with the Teranex 3D simulator! The patent pending 3D simulator will convert any SD or HD content into amazing dual stream 3D that needs to be seen to be believed!</p>

<h3>3D Camera Align</h3>
<p>The 3D camera align feature of the Teranex 3D Processor lets you frame sync even unlocked left and right eye signals and fix geometry errors in the camera rig. You can even correct the alignment of two consumer cameras for incredible 3D images!</p>
