<p>The Blackmagic-Design UltraStudio Express is a capture and playback device that supports resolutions up to 1080p30. It captures saved footage or a live feed from a camera and passes it to your computer in formats ready to be edited. It can also up/down/cross convert the resolution of the footage as the footage is being passed to the computer. The third function of the Express is HDMI monitoring -- you can connect a top-quality HDMI monitor and monitor the footage you captured in the best resolution possible so to perform color correction in minute precision. </p>

<p>UltraStudio Express features built-in SD/HD SDI, HDMI and Thunderbolt connections. It comes with two breakout cables via which it expands to composite, component, S-Video, RCA audio, AES/EBU audio on XLRs, sync input, genlock for bi and tri-level sync, and RS422 connections. Connection to a camera would be by SDI or HDMI where possible and to a computer by Thunderbolt. </p>

<p>The formats the unit captures in are open standard DPX and QuickTime, which are compatible with all of the most common and popular software. UltraStudio Express can seamlessly be used with Final Cut Pro X, Final Cut Pro 7, Media Composer 6, Premiere Pro CS6, After Effects, Nuke, Photoshop, and DaVinci Resolve.</p>

<h1>Additional Features</h1>
<ul>
<li>HD SDI, HDMI, Thunderbolt and 2 breakout cables</li>
<li>Real-time, hardware-based up / down / cross conversion</li>
<li>Connect to a quality HDMI monitor for precise color correction</li>
<li>Captures in edit-friendly open standard DPX and QuickTime formats</li>
<li>4 x Balanced XLR for Analog Audio Inputs and Outputs</li>
<li>Breakout cables feature: composite, component, S-Video, RCA audio, AES/EBU on XLRs, sync input, genlock and RS422</li>
</ul>

