<p>Capture and output of nearly any currently supported broadcast or consumer video format up to DCI 4K resolution is possible with the UltraStudio 4K Extreme from Blackmagic Design. This I/O device features 12G-SDI input and output, 6G-SDI input and output, HDMI 2.0 input and output, analog audio input, and digital audio input and output. It is ideal for busy production environments where it is hard to know in advance what signal might be required. The device pairs with third-party software, including editing software, media server software, and even graphics editing software, notably Photoshop. It is compatible with Windows and OS X computers with Thunderbolt connectivity. There is also a PCIe host connector for using a PCIe host card (available separately).  </p>

<p>The UltraStudio 4K Extreme features a 2RU rackmountable form factor with the primary connectivity on the back panel. For local monitoring at the device, there is an LCD preview screen and basic controls on the front panel.</p>

<h1>4K, 1080p, 3D Input & Output</h1>
<ul>
<li>DCI 4K 4:2:2 or UHD 4K YUV 4:2:2 by single-link 6G-SDI</li>
<li>DCI 4K 4:2:2 by HDMI</li>
<li>1080p RGB 4:4:4 by single-link 3G-SDI </li>
<li>1080p 4:2:2 by single-link HD-SDI</li>
<li>1080p 4:4:4 by dual-link HD-SDI</li>
<li>Dual-channel 2D/3D stereoscopic by SDI</li>
</ul>


<h1>Key Features</h1>
<p><strong>RGB Colorspace - </strong>RGB colorspace is used so you can't get illegal 100% RGB video levels, eliminating surprises when graphics are output to tape or presented to live production switchers. Additionally, the UltraStudio 4K Extreme takes advantage of RGB colorspace to allow fill and key output for external keying of graphics and animation (4:4:4:4 signals supported over SDI)</p>

<p><strong>Work in 10-Bit 4:4:4 - </strong>UltraStudio 4K Thunderbolt 2 features built-in 6G-SDI connections that operate at four times the speed of regular HD-SDI, meaning you can capture Ultra HD and 4K with only one BNC cable instead of four. This high bandwidth connection is perfect for full color resolution 4:4:4 video, which is great for video effects and high frame rate video up to 1080p60. UltraStudio 4K Thunderbolt 2 also supports dual stream 3D with capture and playback of two independent channels.
</p>
<p><strong>The Power of Thunderbolt - </strong>Thunderbolt ensures low latency and highly accurate time synchronization for high quality capture and playback. UltraStudio 4K Thunderbolt 2 features 20Gb/s Thunderbolt 2 with loop thru and dual link 6G-SDI, the combination perfect for 3D stereoscopic workflows, Ultra HD, and DCI 4K.
</p>
<p><strong>Supported Codecs - </strong>AVC-Intra, AVCHD, Canon XF MPEG2, Digital SLR, DV-NTSC, DV-PAL, DVCPRO50, DVCPROHD, DPX, HDV, XDCAM EX, XDCAM HD, XDCAM HD422, Apple ProRes 4444, Apple ProRes 422 (HQ), Apple ProRes 422, Apple ProRes (LT), Apple ProRes 422 (Proxy), Uncompressed 8-bit 4:2:2, Uncompressed 10-bit 4:2:2, and Uncompressed 10-bit 4:4:4.</p>
<p><strong>Supported Applications - </strong>Apple Final Cut Pro X, Adobe Premiere Pro, Avid Media Composer, Adobe After Effects, Nuke - The Foundry, DaVinci Resolve, Avid Pro Tools, Steinberg Cubase, Steinberg Nuendo, Adobe Photoshop, Avid Symphony, Avid News Cutter, Tools On Air just:in / live:cut / just:play / just:live, Softron OnTheAir Video/ MovieRecorder / OnTheAir CG, Flash Media Encoder, Wirecast, Livestream Procaster, Resolume Avenue 4, Sony Vegas Pro, Corel VideoStudio Pro X4, CyberLink Power Director, MAGIX Video Pro X4, Vidcaster Pro / Studio / Broadcast, Uniplay, Playbox AirBox, CasparCG, Magicsoft CG, Xsplit Broadcaster, and Harris Infocaster.</p>
