<p>UHD 4K playback and support for up to 60p recording and playback is introduced with the Blackmagic Design HyperDeck Studio 12G. This file-based deck provides the familiar jog/shuttle interface of traditional VTRs, but instead of tape use SSD drives for recording media. It records in uncompressed QuickTime, ProRes, or Avid DNxHD formats all with up to 4:2:2 color sampling at 10-bit color space. With two SSD slots, you can record almost endlessly - as one SSD becomes full, recording automatically continues on to the other. The Studio 12G features one 12G-SDI input that is 3G-, HD-, and SD-SDI compatible along with one HDMI 2.0 input. In addition, there are four total SDI outputs and one HDMI 2.0 output for monitoring and connection to other equipment in your studio. All of the SDI connectors plus both of the HDMI ports support UHD 4K (3840 x 2160) at up to 60 fps.</p>

<p>The Studio 12G is housed in a 1RU rackmountable unit, with built-in rackmount ears. It features illuminated front panel button control and a jog/shuttle wheel for analog scrubbing. RS-422 control is supported for external control. You can also control the unit using either the USB port or over Ethernet via the RJ-45 connector. An integrated LCD on the front panel allows you to monitor the video, and display timecode and transport information.</p>

<h1>Key Features</h1>
<p><strong>Recording up to 1080p / UHD 4K Playback - </strong>The HypeDeck Studio 12G records video to uncompressed QuickTime at 10-bit with 4:2:2 color sampling at up to 1080p60. It also records to ProRes 422(HQ), ProRes 422, ProRes 422 (LT), ProRes 422 (Proxy), as well as Avid DNxHD and Avid DNxHD MXF, also all in SD and SD. Additionally, it can play back UHD 4K (3840 x 2160) footage that was recorded at up to 60 fps.</p>
<p><strong>Two SSD Bays - </strong>The unit incorporates two 2.5" SSD slots that allow you to record almost endlessly as recording seamlessly switches from one SSD to the other as the first one fills up.
</p>
<p><strong>Video Inputs - </strong>The HyperDeck Studio 12G supports SD, HD, 3G, 6G, and 12G signals over SDI and up to UHD 4K at 60p via HDMI 2.0.
</p>
<p><strong>VTR Style Controls - </strong>The HyperDeck Studio 12G features VTR style front panel controls for record and playback. With illuminated buttons, for working in dim locations or settings, while a built-in jog/shuttle wheel provides analog style control over your playback.</p>
<p><strong>Video Outputs - </strong>A total of four SDI outputs are provided: a single loop-out that mirrors the incoming signal, two playback outputs, and a dedicated monitor output. Additionally, there is a single HDMI 2.0 output with UHD 4K at 60p support that can serve as a loop-out, be used for playback, or connected to a local monitor</p>
<p><strong>Remote - </strong>The unit is controllable via RS-422 control and over the Ethernet or USB port.</p>
<p><strong>Built-In LCD Monitor - </strong>The unit's front panel also features a built-in LCD screen that allows you to monitor input or playback video as well as timecode, format, and audio levels.</p>

