<p>The Blackmagic Design DeckLink Duo is a video-editing capture card consisting of 2 independent SDI inputs and outputs, both supporting SD and HD video formats that can be inter-switched; each SDI input or output could be a different video standard as well as a different content stream.</p>

<p>The DeckLink Duo can capture and playback at the same time making it perfect for developers who need 2 completely independent capture and playback streams in and out of a computer. It includes a common tri-sync / black burst reference, and appears as 2 independent SDI cards to the computer, but only uses a single PCI Express slot. It supports Mac, Windows, and Linux OS.</p>


<h1>Key Features</h1>
<ul>
<li>2 SDI inputs and outputs can be switched between SD/HD video formats</li>
<li>Each SDI input or output could be a different video standard as well as a different content stream</li>
<li>Simultaneous capture and playback</li>
<li>Perfect for developers who require 2 completely independent capture and playback streams in and out of a computer</li1>
<li>Includes a common tri-sync/black burst reference</li1>
<li>Appears as 2 independent SDI cards to the computer but uses only a single PCI Express slot</li>
</ul>
