
<p>Introducing Teranex Express, the ultimate SD, HD and Ultra HD standards converter with a massive 1089 conversions! You get up, down, cross and standards conversions between virtually all SD, HD and Ultra HD formats and frame rates, including 3:2 cadence removal and insertion! Featuring advanced patented algorithms, Teranex Express gives you visually transparent, high quality conversions that are mandated by major broadcasters and studios worldwide! You get incredible conversions in full 10-bit quality, complete with audio, closed captions, timecode and more!</p>

<p>Whether you’re out in the field or in the studio, you never know what kind of video format you’re going to get or which video format you’re going to have to provide. Teranex Express gives you so many realtime conversions that you’ll be ready for anything at anytime! Convert incoming feeds from overseas, use Teranex Express in front of older broadcast decks to ensure they always receive the correct signal, or carry them in broadcast trucks so you’ll be ready to work with anything that comes your way! You can even convert SD to HD or Ultra HD in real time and then display it on massive outdoor LEDs or digital signs at live concerts or sporting events!</p>

<h1>Highest Quality Connections</h1>

<p>Teranex Express features the most advanced broadcast connections, including the world's first 12G-SDI that is compatible with all of your existing SDI equipment. The genlock input lets you synchronize signals between equipment and for larger studios, you can install an optional fiber optic module that lets you run video from up to 28 miles away.</p>

<p>Video includes a lot more than images, and Teranex supports conversion of up to 16 audio channels plus timecode and closed caption VANC data. Teranex Express is also compatible with Dolby encoded audio, so it never has to be decoded or re-encoded during up and down conversions. With Teranex Express your subtitles are always retained and both audio and timecode always stay in perfect sync with your video!</p>
</div>

<h1>Advanced Processing</h1>

<div class="grid">
<!-- Left Side Column -->
<div class="grid__item large--one-half medium--one-half">
<h3 style="height:40px">High Quality De-interlace</h3>
<p>Teranex’s proprietary and patented PixelMotion deinterlacing algorithms create perfect progressive frames for conversion by adjusting the aperture on a pixel by pixel basis. That means you get improved image quality because the vertical resolution is maintained. PixelMotion deinterlacing preserves source detail and, when combined with multi direction diagonal filters, eliminates jaggies on conversions so you get well defined edges and the sharpest images possible!</p>
</div>
<!-- Right Side Colum -->
<div class="grid__item large--one-half medium--one-half">
<h3 style="height:40px">Up Conversion</h3>
<p>Teranex Express can perform up and down conversions between NTSC or PAL SD, 720 or 1080 HD and Ultra HD. It features high quality de-interlacing, a wide range of aspect ratio options and all new real time, optical quality scaling algorithms that simulate an optical zoom. Sub-pixel processing and multi-directional diagonal filters are also used to eliminate “jaggies.” That means you get the cleanest looking conversions and images retain as much detail and clarity as possible!</p>
</div>

</div>

<div class="grid">

<div class="grid__item large--one-half medium--one-half">
	<h3 style="height:40px">12G-SDI Technology</h3>
<p>Teranex Express is the world’s first broadcast converter to include multi-rate 12G-SDI connections. That means it can switch between 12G-SDI, 6G-SDI, 3G-SDI, HD-SDI and SD-SDI making it compatibile with all of your existing SD, HD, and Ultra HD equipment! These connections can transfer data at an amazing 12 gigabits per second, making them fast enough to support progressive Ultra HD video at up to 60fps. That means Teranex Express will be able to support emerging formats when they become available, making it the most expandable and future proof solution you can buy!</p>
</div>
<!-- Right Side Colum -->
<div class="grid__item large--one-half medium--one-whole">
	<h3 style="height:40px">Quad-SDI Conversion</h3>
<p>Quad SDI lets you output Ultra HD over four SDI connections. That means you can use 12G-SDI or 6G-SDI, up to 2160p60 Ultra HD frame rate sources on a wider range of monitors and projectors that only support quad link SDI 1080 HD inputs. Use the Ultra HD to quad 1080 HD conversion to connect to four separate HD displays for amazing video walls, or stack large LED screens for massive outdoor Ultra HD screens that will amaze the crowd at live events!</p>
</div>
</div>


