<p>Capture and output of nearly any currently supported broadcast or consumer video format up to DCI 4K resolution is possible with the UltraStudio 4K Extreme from Blackmagic Design. This I/O device features 12G-SDI input and output, 6G-SDI input and output, HDMI 2.0 input and output, analog audio input, and digital audio input and output. It is ideal for busy production environments where it is hard to know in advance what signal might be required. The device pairs with third-party software, including editing software, media server software, and even graphics editing software, notably Photoshop. It is compatible with Windows and OS X computers with Thunderbolt connectivity. There is also a PCIe host connector for using a PCIe host card (available separately).  </p>

<p>The UltraStudio 4K Extreme features a 2RU rackmountable form factor with the primary connectivity on the back panel. For local monitoring at the device, there is an LCD preview screen and basic controls on the front panel.</p>

<h1>4K, 1080p, 3D Input & Output</h1>
<ul>
<li>2 x 12Gb/s and 2 x 6Gb/s SD/HD/2K/4K SDI Inputs and Outputs</li>
<li>2 x 12Gb/s Optical Fiber (Optional).</li>
<li>1 x Component YUV on 3 BNCs</li>
<li>1 x composite NTSC/PAL on 1 BNC</li>
<li>4 x Balanced XLR for Analog Audio Inputs and Outputs</li>
<li>Single/Dual/Quad Link 4:2:2/4:4:4 SDI</li>
<li>HDMI 2.0 input and output with support for 2160p60</li>
<li>Dual-channel 2D/3D stereoscopic by SDI</li>
</ul>


<h1>Key Features</h1>
<p><strong>RGB Colorspace - </strong>RGB colorspace is used so you can't get illegal 100% RGB video levels, eliminating surprises when graphics are output to tape or presented to live production switchers. Additionally, the UltraStudio 4K Extreme takes advantage of RGB colorspace to allow fill and key output for external keying of graphics and animation (4:4:4:4 signals supported over SDI)</p>

<p><strong>Rackmount Design - </strong>The UltraStudio 4K Extreme features aluminum build for extra robustness. Ready for integration in your studio, the chassis fits in a 2RU rack space and a pair of rack ears are integrated.
</p>
<p><strong>Front Panel Access - </strong>In most cases, you will probably operate the UltraStudio 4K from the host computer. However, technicians will appreciate a built-in preview screen and front panel buttons for input selection and basic settings. Furthermore, there is a microphone input and headphone jack on the front. Mic levels and volume can be adjusted via rotaries conveniently located next to the inputs, while +48V phantom power can be enabled/disabled via software.
</p>
<p><strong>12G-SDI Compatible - </strong>Half of the SDI inputs and outputs support 12G-SDI. 12G quadruples the bandwidth of 3G-SDI, enabling 4K video capture and output at up to 60p for 3480 x 2160 and 25p for 4096 x 2160 while only requiring a single BNC cable. The remaining SDI connectors all support up to 6G-SDI.</p>
<p><strong>HDMI 2.0 Compatible - </strong>HDMI 2.0 is the first generation of HDMI optimized for 4K. It enables 4K video capture and output at up to 60p for 3480 x 2160 and 25p for 4096 x 2160.</p>
<p><strong>Audio I/O - </strong>Besides audio embedded in the SDI and HDMI signals, the UltraStudio 4K features the ability to capture and output separate audio. This includes analog XLR and RCA audio as well as digital AES/EBU audio. There is also a headphone jack and mic input in the front of the unit.</p>
<p><strong>Optional Fiber Connectivity - </strong>Two fiber cages are included allowing you to connect separately available fiber optic interfaces. The same SDI signals are supported through fiber optic as through the SDI BNC connectors.</p>
<p><strong>RS-422 Device Control - </strong>Two serial I/O ports allow your software to send or receive control signals from decks and other video appliances. The ports use Sony RS-422 protocol and can be separately configured for input or output.</p>
<p><strong>Thunderbolt and PCIe Host Connectivity - </strong>Video capture and output at 4K resolution requires a high-bandwidth interface. For this, two options are provided: Thunderbolt (with loop-through) and PCIe. Thunderbolt does not require any additional hardware other than a Thunderbolt cable. PCIe, on the other hand, requires a host card which as well as a cable - both available separately.</p>
<p><strong>Format Conversion - </strong>Hardware scaling enables real-time, high-quality down-conversion of 4K to HD, HD down-conversion to SD, SD up-conversion to HD, and cross-conversion between 720p and 1080i. 4:3 pillarbox, 14:9 zoom, and 16:9 zoom are available when up-converting from 4:3 SD content</p>
<p><strong>Stereoscopic 3D Support - </strong>In addition to 2D, the SDI inputs and output can be configure for dual stream stereo 3D capture, helping make the UltraStudio 4K Extreme at home in any workflow</p>
<p><strong>Supported Codecs - </strong>AVC-Intra, AVCHD, Canon XF MPEG2, Digital SLR, DV-NTSC, DV-PAL, DVCPRO50, DVCPROHD, DPX, HDV, HEVC, XDCAM EX, XDCAM HD, XDCAM HD422, Apple ProRes 4444, Apple ProRes 422 (HQ), Apple ProRes 422, Apple ProRes (LT), Apple ProRes 422 (Proxy), Uncompressed 8-bit 4:2:2, Uncompressed 10-bit 4:2:2, and Uncompressed 10-bit 4:4:4
</p>
<p><strong>Supported Applications - </strong>Blackmagic Design DaVinci Resolve and Fusion, Apple, Final Cut Pro X, Adobe Premiere Pro, After Effects, and Photoshop CC, Avid Media Composer and Pro Tools, Steinberg Cubase and Nuendo, and more</p>
