<p>DeckLink 4K Pro is a high performance PCIe capture and playback card with advanced 12G-SDI for working with the latest high frame rate Ultra HD and DCI 4K formats at up to 60 frames per second! Ideal for both traditional 2D and high end 3D stereoscopic workflows, you get support for full resolution, deep color YUV and 12-bit RGB 4:4:4 images. DeckLink 4K Pro features two multi rate 12G-SDI inputs and outputs with support for 16 channels of embedded audio, along with a connection for reference input. Because the connections are multi rate, it works with virtually every SD, HD, Ultra HD and 4K format. DeckLink 4K Pro is perfect for high end film, television, and commercial editing, visual effects, and color grading projects.</p>


<p>Boasting dual 12G-SDI inputs and outputs, Blackmagic Design's DeckLink 4K Pro can capture and play back video with resolutions up to 4096 x 2160 at 25 fps and UHD (3840 x 2160) at 60 fps. The Decklink 4K Pro can be used in many different workflow scenarios which require high-resolution video, such as live grading on-set, color grading for cinema, or for video capture in-studio. Included with the DeckLink 4K Pro is a software bundle which includes standalone capture/playback software as well as plugins for compatibility with popular software suites so you can fit the DeckLink into your workflow.</p>

<p>The card offers flexible format and system support, letting you work with compressed video formats such as ProRes and DNxHD, as well as 12-bit 4:4:4 uncompressed video. When working with uncompressed video, all images are pixel-for-pixel identical to the source, without any generational loss. This lets you get sharper keying with green screens, cleaner compositions, superior color correction, and more. Support for common file formats provides ready-to-edit files for use in popular editing, effects, and design software applications. DeckLink Pro 4K is compatible with Mac, Windows, and Linux based workstations.</p>


<h1>Key Features</h1>
<ul>
<li>8-Lane PCIe Gen2 I/O card compatible with Mac, Windows, and Linux based workstations and servers</li>
<li>Multi-rate 12G-SDI connections accept SD, HD, 2K, and 4K resolutions</li>
<li>Supports UHD 4K (3840x2160) up to 60 fps and DCI 4K (4096x2160) up to 25 fps</li>
<li>Single and dual link 4:4:4:4/4:2:2 signals</li>
<li>3D stereoscopic SDI output at full bandwidth 4:4:4:4</li1>
<li>Up/down/cross conversions</li1>
<li>Black burst in SD, 720p50, 720p59.94, 1080i50 and 1080i59.94 formats or Tri-Sync in any HD format.</li1>
<li>SD card with Media Express capture and playback software, and developer SDK for Windows, Mac, and Linux</li>		
</ul>
