<p>The Blackmagic Design DeckLink Quad is used to add 4 SDI inputs and outputs for media play-out servers and real-time processors. Offering broadcast grade multi-channel SDI capture and playback, the DeckLink Quad provides the operation capabilities of 4 completely independent capture cards onto a single PCI express card with bypass relays, watchdog timer, black burst, and tri-level common genlock for locking to sources of any frame rate.Allowing you to create custom software and workflows, the BDLKDVQD DeckLink Quad card provides you power to work without limitations. It also allows you to add titles, resizing, de-interlacing, and converting formats on multiple streams, while simultaneously allowing you to capture and output the final result.</p>

<p>Featuring 8/10-bit SD and HD recording and playback in YUV 4:2:2, the DeckLink Quad provides best quality pictures ideal for use in live broadcast and post production works by avoiding any generational or compression loss. Featuring low SDI jitter in long distance transmissions cables and 4 PCIe connections for low latency, it provides output at a transfer rate of 10Gbps and allows instant switch between a SD and HD modes.Allowing connection of up to 16 independent SDI devices which can be configured in any input/output configuration, the card supports up to 8 channels of uncompressed SDI embedded audio and Dolby digital pass through that provides high quality sound output.
</p>

<p>The DeckLink Quad offers a wide range of features allowing you to use custom made option to suit your needs, and also includes a built-in keyer for live overlay of graphics into production switchers. It can be used to connect to SDI enabled VTR such as Digital Betacam, HDCAM SR, XDCAM, D5, DVCPRO HD, etc with zero latency for instant response. Offering compatibility with Mac OS X, Windows 7, or 64-bit Linux computers, it includes a media express application which provides timecode accurate capture and play out of uncompressed QuickTime, AVI, and DPX files.</p>

<h1>Key Features</h1>
<ul>
<li>Used to add 4 SDI inputs and outputs for media play-out servers and real-time processors</li>
<li>Offers broadcast grade multi-channel SDI capture and playback</li>
<li>Provides the operation capabilities of 4 completely independent capture cards onto a single PCI express card</li>
<li>Bypass relays, watchdog timer, black burst, and tri-level common genlock for locking to sources of any frame rate</li>
<li>Simultaneously allowing you to capture and output the final result</li>
<li>8/10-bit SD/HD recording and playback in YUV 4:2:2</li>
<li>Supports up to 8 channels of uncompressed SDI embedded audio and Dolby digital pass through that provides high quality sound output</li>
	
</ul>
