<p>The Blackmagic Design UltraStudio Mini Recorder Capture Device is a very interesting and a highly useful device that Blackmagic has put out there. It is the "capture" aspect of any Blackmagic capture and playback device (and of any capture and playback device in general). 
</p>

<p>Where a capture and playback device, such as the UltraStudio 3D or the Intensity Extreme, captures video from a camera, transfers it to a computer, and additionally lets you output the video to a display other than that of your computer's, UltraStudio Mini Recorder only performs the first of these functions.</p>

<p>The point of capturing, as opposed to just unloading the camera's memory card into a computer, is to transfer the highest quality footage possible. A capture and playback device does such in two ways: one -- by capturing a live feed from a camera, as the camera is doing the filming, in which case footage is captured directly from the camera's sensor, bypassing any compression of the footage and transferring pure, uncompressed footage; or two -- by capturing from a camera's playing back of the footage it already recorded (stored). In the second option, the footage got compressed upon the camera's recording it, since a memory card has nowhere near the storage space necessary to store without compressing. In the camera's playing the footage back, to be viewed, for example, on its own LCD screen, the footage gets uncompressed -- the 1s and 0s that got packed together in the compression get let out of their cage so that they can form images, with only some 1s and 0s having been permanently lost when the compression happened, but with the loss of those 1s and 0s being hardly noticeable since compression algorithms are so exotic that they achieve a "lossless" compression. So, the footage that got uncompressed in playback gets captured by the capture and playback device and transferred to a computer in uncompressed form. In either of the above scenarios, upon the footage's being delivered to a computer, the application that you accept the footage into will let you select the codec to compress the footage into again, and then you can edit the footage and hopefully keep it in that same codec for the length of its stay in your editing system. The Mini Recorder performs exactly as just described. The alternative, unloading from your camera's memory card, experiences more loss in quality than can be achieved by capturing.</p>

<p>Included as a free download with your purchase is Blackmagic's Media Express software, which you're free to use to accept and encode incoming footage. Mini Recorder connects to your camera by HDMI or SDI and outputs to your computer by Thunderbolt (so you need a Thunderbolt-equipped computer, such as any recent Mac).</p>

<p>So, if you want to capture the best quality footage possible, and you don't need the other characteristics of a capture and playback device, then UltraStudio Mini Recorder is all you need and it comes at a small portion of the cost of an average capture and playback device (also known as an I/O device).</p>


<h1>Key Features</h1>
<p><strong>The "Capture" Aspect of a Capture and Playback Device - </strong>Connect to your camera by HDMI or SDI and output your footage to a computer by Thunderbolt to get the best quality footage possible into your editing system.</p>

<p><strong>3 Gb/s SDI Input - </strong>SDI input connection for decks, routers and cameras so you can record amazing quality 10-bit video in SD and HD.
</p>
<p><strong>HDMI Input - </strong>HDMI input for amazing quality record direct from cameras, and set top boxes and gaming consoles 
</p>
<p><strong>Thunderbolt Connection - </strong>Get blazing speeds for recording SD and HD up to 1080iHD</p>
