<p>The Blackmagic Design UltraStudio Mini Monitor Playback Device is a very interesting and a highly useful device that Blackmagic has put out there. It is the "playback" aspect of any Blackmagic capture and playback device (and of any capture and playback device in general). 
</p>

<p>Where a capture and playback device, such as the UltraStudio 3D or the Intensity Extreme, captures video from a camera, transfers it to a computer, and additionally lets you output the video to a display other than that of your computer's, UltraStudio Mini Monitor only performs the last of these functions, also referred to as "playback." The point of outputting to a separate display is to output to a top-resolution display, the kind that your computer's display likely isn't, the kind that'll give you the best representation of your footage, the kind that'll let you get as precise as possible in color-grading, perhaps the kind that has features like Waveform. Mini Monitor connects to your computer by Thunderbolt and outputs to a monitor by either HDMI or SDI. (You'll need a Thunderbolt-equipped computer, such as any Mac.)</p>

<p>So, if you want to color grade on a top-resolution monitor, and you don't need the other characteristics of a capture and playback device, then UltraStudio Mini Monitor is all you need and it comes at a small portion of the cost of an average capture and playback device (also known as an I/O device). </p>

<h1>Key Features</h1>
<p><strong>The "Playback" Aspect of a Capture and Playback Device - </strong>Connect to your computer by Thunderbolt, and output your editing system footage to a top-resolution monitor by HDMI or SDI for precise color grading.</p>

<p><strong>3 Gb/s SDI Output - </strong>Get blazing speeds for recording SD and HD up to 1080HD
</p>
<p><strong>HDMI Output - </strong>HDMI output for amazing quality playback. Use low cost televisions for monitoring 
</p>
<p><strong>Thunderbolt Connection - </strong>Get blazing speeds for recording SD and HD up to 1080iHD</p>
