<p>The Blackmagic Design DeckLink Mini Monitor is a PCIe slot playback card with both SDI and HDMI outputs for color-correcting or delivering client presentations in more precision on top-resolution HDMI or SDI monitors. You'll be able to send video from your computer to a large HDMI display locally or to an SDI monitor up to 300 ft away. </p>

<p>The card outputs up to 10-bit uncompressed video, and you can output by SDI and HDMI simultaneously or through only one of these. All the outputs are active, so once you plug a cable into them, they'll begin functioning. The card automatically switches between SD and HD, so it'll handle all common video formats.</p>

<p>The Mini Monitor is a 1-lane PCI Express card and is compatible with 4, 8 and 16 lane PCI Express slots on Mac OS X, Windows 8 and Linux. The only Mac capable of accepting the card is a Mac Pro as other Macs can't be opened to enable installation.</p>

<h1>Outputs</h1>
<ul>
<li>SDI 10-bit SD/HD switchable video with 16 ch HD / 8 ch SD embedded audio</li>
<li>HDMI type A video with 8 ch audio embedded in SD and HD</li>
</ul>
