<h1>Capture epic cinematic 4.6K images with 15 stops of dynamic range!</h1>
<p>Introducing Blackmagic URSA, the world’s first high end digital film camera designed to revolutionize workflow on set. Built to handle the ergonomics of large film crews as well as single person use, URSA has everything built in, including a massive 10 inch fold out on set monitor, a new user upgradeable 4.6K Super 35 image sensor with a massive 15 stops of dynamic range, 12G-SDI, internal dual RAW and ProRes recorders and more. Because the sensor and lens mount assembly can be changed, you can upgrade to the latest sensor technology in the future and keep your investment in the camera body!</p>

<hr class="hr--small" />
<h1>Professional DigitalFilm Camera</h1>
<p style="margin-bottom: 10px;"><img class="product-single__photo" src="https://cdn.shopify.com/s/files/1/0859/1104/files/blackmagic.ursa.major.action.png?13527453541257488425" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/blackmagic.ursa.major.action_2x.png?10010199893917586256 2x" /></p>
<h2>Designed for feature film, television commercials and more!</h2>
<p>Blackmagic URSA is designed to be used on high end feature films, commercials, episodic television production, documentaries, electronic news gathering, music videos and more. When used on jobs with a large crew you can easily dress the camera with high quality cinema lenses, rails, follow focus, matte boxes and more. With built in scopes for exposure, focus and audio levels, it’s easy for DOPs to get perfect results every time. The dedicated screen for camera assistants lets them check and update camera parameters independently of the DOP. If you’re shooting solo then the large fold out on set monitor, built in scopes and internal recorder means you don’t need any extra on set equipment because it’s all built into the camera. That’s a whole film set of equipment built into the one extremely portable design!</p>

<hr class="hr--small" />
<div class="grid">
<div class="grid__item large--one-third medium--one-half">
<h3>Shoot in incredible quality Ultra HD</h3>
<p>URSA now includes a new professional digital film 4.6K image sensor that captures a spectacular 4608 x 2592 pixels with 15 stops of dynamic range! The sensor features an incredible 15 stops of dynamic range for true digital film imaging. The wide dynamic range preserves detail in dark shadows as well as bright highlights so you have a wider range of brightness levels to work with when color grading in post production. The extra large Super 35 size allows for creative shallow depth of field shooting and the high resolution 12-bit lossless CinemaDNG RAW recording means you get incredible quality! You can also record HD or Ultra HD using ProRes for easy post production workflows with broadcast quality images.</p>
</div>
<div class="grid__item large--one-third medium--one-half">
<h3>Dual Recorders for Non Stop Recording</h3>
<p>Blackmagic URSA features dual recorders so you never need to stop recording to change media. That’s critical if you are shooting an historical event, important interview or where you just cannot stop shooting! Simply load an empty CFast card into the second recorder and when the current card is full, the recording will continue onto the second card, allowing you to change out the full card and keep shooting! The built in recorders use new CFast card technology that allow recording up to 350 MB/s for incredible speeds, perfect for high frame rate RAW recording! Imagine shooting RAW and then playing back for the crew on the massive 10 inch screen!</p>
</div>
<div class="grid__item large--one-third medium--one-whole">
<h3>Built in On Set Monitoring!</h3>
<p>Say goodbye to bulky on set monitors because you get a massive fold out 10 inch screen built into Blackmagic URSA, making it the world’s biggest viewfinder! The screen is super bright so it’s easy to see when shooting outdoors, even in direct sunlight, plus it features an ultra wide viewing angle so you can pan and tilt to extremes and still see crystal clear images. When shooting in Ultra HD, focus becomes extremely difficult on small viewfinders, however with a massive 10 inch screen in full HD, you can see your images in amazing detail for perfect focus, framing and exposure! Because the screen tilts you can shoot down low, or high up over crowds and easily tilt the screen up or down to see your shot!</p>
</div>
</div>


<hr class="hr--small" />
<h1>Shot with the new Blackmagic URSA 4.6K</h1>
<iframe src="https://player.vimeo.com/video/127523814" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<hr class="hr--small" />
<div class="text-center">
	<h1>User Upgradeable Sensor and Mount</h1>
	<p>Blackmagic URSA features a modular camera turret that can be simply removed by removing 4 simple bolts! The camera turret includes the sensor, lens mount and lens control connections and can be upgraded in the future when new types of sensors are developed. This means your next camera will be a fraction of the cost of buying a whole new camera because you can upgrade it!</p>
	<p>
There are currently 4 models to choose from!</p>
</div>
<div class="grid">
	
<div class="grid__item large--one-half medium--one-half">
<p><strong>URSA 4.6K EF</strong> includes the amazing 4.6K Super 35 image sensor with global shutter, up to 15 stops of dynamic range and an EF lens mount with active lens control. Now you can use low cost DSLR photo lenses from companies such as Canon, Zeiss and more!
</div>
<div class="grid__item large--one-half medium--one-half">
<p><strong>URSA 4K EF</strong> includes an affordable high quality 4K image sensor with global shutter, up to 12 stops of dynamic range and an EF lens mount with active lens control. Now you can use low cost DSLR photo lenses from companies such as Canon, Zeiss and more!
</div>
<div class="grid__item large--one-half medium--one-half">
<p><strong>URSA 4.6K PL</strong> includes the amazing 4.6K Super 35 image sensor with global shutter, up to 15 stops of dynamic range and the film industry standard PL lens mount. That’s ideal when you need to use feature film industry PL mount lenses for the most cinematic optics available!
</div>
<div class="grid__item large--one-half medium--one-half">
<p><strong>URSA 4K PL</strong> includes an affordable high quality 4K image sensor with global shutter, up to 12 stops of dynamic range and the film industry standard PL lens mount. That’s ideal when you need to use feature film industry PL mount lenses for the most cinematic optics available!
</div>
</div>

<img class="product-single__photo" src="https://cdn.shopify.com/s/files/1/0859/1104/files/blackmagic.ursa.major.upgradeable.jpg?3462093791982851382" srcset="https://cdn.shopify.com/s/files/1/0859/1104/files/blackmagic.ursa.major.upgradeable_2x.jpg?3462093791982851382 2x" />

<hr class="hr--small" />
<div class="grid">
<div class="grid__item large--one-third medium--one-half">
<h3>Broadcast Connections</h3>
<p>The Blackmagic URSA features standard broadcast connections so you don’t need to worry about buying expensive custom cables! You get 12G-SDI output that can be down converted to HD or used directly at amazing Ultra HD quality. There’s also a 12G-SDI input that can display return video on the 10 inch monitor when working on live events or an external video source! A separate SDI output is available for attaching external viewfinders and eye pieces. For audio, there are 2 professional XLR connections with 48v phantom power so you can use the audio industry’s best quality microphones. You also get timecode in/out and a LANC connector for controlling the camera, lenses, and accessories remotely.</p>
</div>
<div class="grid__item large--one-third medium--one-half">
<h3>Standard Power</h3>
<p>URSA uses a standard 4-pin 12V to 30V XLR broadcast power connector for plugging into external power supplies. There are also mounting points and a power transfer connector for mounting third party V-Mount and Anton/Bauer gold mount back plates and batteries onto the rear of the camera itself. This means you can integrate the battery as part of the camera itself. You also get a standard 4 pin XLR 12V output power connector so you can use a wide range of third party viewfinders without needing expensive custom cables. That means it’s easy to integrate the camera with all of your existing gear and accessories!</p>
</div>
<div class="grid__item large--one-third medium--one-whole">
<h3>Designed to be Rigged!</h3>
<p>To make it super easy to bolt on your favorite accessories, Blackmagic URSA has multiple mount points all over the camera. You get standard tripod quick release attach points on the bottom of the camera, so you can use industry standard tripod mounts. The viewfinder connection uses standard power and BNC SDI connections for any type of viewfinder, plus there is standard 3/8” threaded points on the top and handle of the camera for mounting anything you like! Standard battery mounts can be bolted to the rear of the camera and you can use standard rails in the rail mounts built into the camera base. No camera is so easy to rig up for any type of production!</p>
</div>
</div>