<p>The Blackmagic Design DeckLink 4K Extreme Capture & Playback Card features two SDI inputs supporting 6G and 3G capability, assignable in the Blackmagic Control Panel. With all the latest firmware updates installed, you can ingest DCI 4K, 4:2:2, or UHD 4K, YUV, 4:2:2 by single-link 6G-SDI. The second input shuts off in this setup. DCI 4K, 4:2:2 can also be ingested via the HDMI input with the latest firmware installed. </p>


<p>With 3G-SDI assigned, you can ingest single-link, 1080p, RGB, 4:4:4; and with HD-SDI assigned, you can ingest single-link 1080p, 4:2:2, or dual-link, 1080p, 4:4:4. You can also use the SDI inputs for dual-channel 2D/3D stereoscopic workflows. </p>

<p>The remaining connections include two SDI outputs, an HDMI output, and Component, Composite, S-Video, XLR, RS-422, and genlock on an included breakout cable. The card also features an internal SD/HD keyer and broadcast-quality up/down/cross conversion. DeckLink 4K Extreme is compatible with Mac, Windows, and Linux based workstations and media servers and supports a comprehensive list of software.</p>

<h1>Key Features</h1>
<ul>
<li>4-Lane PCIe Gen2 I/O card compatible with Mac, Windows, and Linux based workstations and servers</li>
<li>DCI 4K, 4:2:2, or UHD 4K, YUV, 4:2:2 by single-link 6G-SDI </li>
<li>DCI 4K, 4:2:2 by HDMI</li>
<li>1080p, RGB, 4:4:4 by single-link 3G-SDI </li>
<li>1080p, 4:2:2 by single-link HD-SDI </li1>
<li>1080p, 4:4:4 by dual-link HD-SDI </li1>
<li>Dual-channel 2D/3D stereoscopic by SDI </li1>
<li>Breakout cable adds S-Video, composite and component in/out and RS-422 control connectors</li>
<li>SD card with Media Express capture and playback software, and developer SDK for Windows, Mac, and Linux</li>	
</ul>
