<p>The Blackmagic ATEM Production Studio 4K Live Switcher is a live event multi camera production switcher with 8 individual Ultra HD inputs built into a 1RU chassis. Supporting NTSC/PAL/HD and Ultra HD video formats via Four Single Link 6G-SDI and Four 4K HDMI inputs, the switcher connects to a wide range of cameras and sources, delivering a single program stream in SD, HD, or Ultra HD video. All this is done live and in real time with no rendering required.</p>

<p>The switcher features a reference video input for synchronizing the switcher to other equipment using Tri-level or Blackburst Sync. Each input also features its own frame synchronizer, which allows you to use cameras that do not feature Genlock as well as input video from computer sources. The switcher can handle inputs from all inputs at the same time.</p>

<p>The switcher provides six video outputs that are always active. Featuring one SDI and one HDMI Program output , both of which deliver SD/HD/Ultra HD, with one Aux SD/HD/Ultra HD Output that can deliver a clean Program feed without any downstream effects, as primary outputs. The switcher also features an HD only Program output signal for monitoring on an SDI-equipped HD monitor. Multiview monitoring is also HD only over dedicated SDI or HDMI output, and Multiview allows you to view the Program, Preview, six active inputs and two graphic channels (media players) on one screen at the same time. The switcher features a built-in compliment of one Upstream and two Downstream keyers for real time effects and composites in Ultra HD, with 10-bit processing. The two downstream keyers allow you to use two graphics/logos/titles/lower thirds from up to twenty stored graphics in a wide variety of formats. </p>

<p>A built-in two channel audio mixer handles the embedded HDMI and SDI audio from the six active video inputs as well as audio from the balanced and unbalanced analog audio inputs to provide you flexibility and creative audio options. Audio output is embedded in the SDI and HDMI stream, as well as available via balanced audio outputs. Either a Mac or PC running the included ATEM Software controls the switcher's operation and settings. For those who like the feel of a physical control panel, available ATEM Broadcast Panels, connected via the Ethernet port, also control all the features of the switcher. Illuminated front panel buttons allow you to locally select the Aux output, while a two inch LCD screen built into the front of the unit allows you to see the Aux output for instant confirmation of the correct output.</p>

<h1>Video</h1>
<ul>
<li>The ATEM Production Studio Live 4K Switcher supports 4K Ultra HD video (3840 x 2160), which is four times the resolution of Full HD. It has eight video inputs, all of which can be active simultaneously.</li>
<li>The switcher features four single link 6G-SDI and four HDMI 4K inputs, which allows you to connect SD/HD/Ultra HD and computer-based signal to the switcher. Although the switcher takes reference video in for sync timing so that it can interface with other post production equipment, each input has its own Frame synchronizer, which enables you to use cameras that do not have genlock capability or for input of computer sources such as Keynote or PowerPoint Presentations</li>
<li>The capture video format is set by the user, and must be the same across each input, as the switcher cannot scale different input formats to match the project format.</li>
</ul>

<h1>Audio</h1>
<ul>
<li>The switcher includes a built-in audio mixer that allows you to adjust the audio embedded in the SDI and HDMI signals. With 10 inputs available the 2 channel mixer can also adjust levels of both the balanced and unbalanced analog inputs.</li>
</ul>
<h1>6 Video Outputs</h1>
<ul>
<li>The switcher features 3 program outputs for the final video, delivering SD/HD/Ultra HD via both a 6G-SDI port and HDMI 4K connector. The third program output is an HD-SDI only port (Ultra HD is automatically down-converted).</li>
<li>Two Multi-view outputs allow you to see Program, Preview, the 6 live inputs and the two graphic channels on one screen at the same time. There is 1 SDI and 1 HDMI connector which feeds the Multi-view output to HD monitors.</li>
<li>The switcher features an SDI Aux output that is capable of delivering the Program out feed with or without the downstream keyer effects in SD, HD and Ultra HD. Control of the Aux output is by front mounted panel buttons, and built-in 2-inch LCD screen for immediate confirmation of the Aux output.</li>
</ul>

<h1>Multi View Monitoring</h1>
<ul>
<li>Multi view allows you to view the program, preview, 6 live inputs and 2 media players side by side. You can also add custom labels that make it easy to identify each input.</li>
</ul>

<h1>Effects</h1>
<ul>
<li>The switcher features an upstream keyer that includes independent chroma, pattern, shaped and luma keying all at Ultra HD resolution with 10-bit processing. Two downstream keyers allow you to add graphics, lower thirds, titles and logos for a polished live production.</li>
</ul>

<h1>Control Interface</h1>
<ul>
<li>The ATEM 4K switcher uses an Ethernet connection to interface with control surfaces such as the optional ATEM 1 M/E and 2 M/E Broadcast Panels.</li>
<li>You can also control the switcher by using the included ATEM Software Control software from a Mac or Windows computer over Ethernet. You can control all production settings of the switcher as well as directly import graphics from your computer into the switcher's media pool.</li>
<li>You set the format for each project you are working on, from SD to HD to Ultra HD, selecting resolution and frame rate. This is accomplished by using either the included software for Mac/PC, or via the ATEM 1 M/E or ATEM 2 M/E Broadcast Panel.</li>
<li>Using the Ethernet port on the switcher allows you to connect control surfaces directly to the switcher or you can control the switcher across a network.</li>
<li>The Switcher features a mini USB port that is used for software updates and to set the switcher's Chassis IP address, which can only be done by using a computer running the ATEM Switcher Utility connected to the switcher's USB port.</li>
</ul>

<h1>Rack Mount</h1>
<ul>
<li>The switcher is a single RU in height and has built-in rack mount ears, for mounting in a production road case or in a post production facility.</li>
</ul>